extends layout.pug

block content
  if errors
    ul
      p The following errors were found:
      each error in errors
        li #{error}
  h2 Add User
  form(action="/create-interesting" method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    label First Name:
      input(type="text" name="firstName" value=firstName)
    label Last Name:
      input(type="text" name="lastName" value=lastName)
    label Email:
      input(type="email" name="email" value=email)
    label Password:
      input(type="password" name="password" value=password)
    label Confirm Password:
      input(type="password" name="confirmedPassword" value=confirmedPassword)
    input(type="submit" value="Create Interesting User")
    label Age:
      input(type="number" name="age" value=age)
    label Favorite Beatle:
      select(name="favoriteBeatle" value=favoriteBeatle)
        option(value="") --Please choose an option--
        option(value="John") John
        option(value="Paul") Paul
        option(value="George") George
        option(value="Ringo") Ringo
        option(value="Scooby-Doo") Scooby-Doo
    label Like Ice Cream:
      input(type="checkbox" checked=(iceCream === 'on') name="iceCream" value=iceCream)
