mixin textField(labelText, fieldName, fieldValue, fieldPlaceholder, isMultiline)
  div(class='form-group')
    label(for=fieldName)= labelText
    if isMultiline
      textarea(id=fieldName name=fieldName rows='5' class='form-control')= fieldValue
    else
      input(type='text' id=fieldName
      name=fieldName value=fieldValue class='form-control' placeholder=fieldPlaceholder)

mixin validationErrors(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li=error
