extends layout.pug
block content
  h2 Add User
  form(action="/create" method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    label First Name:
      input(type="text" name="firstName" value=firstName)
    label Last Name:
      input(type="text" name="lastName" value=lastName)
    label Email:
      input(type="email" name="email" value=email)
    label Password:
      input(type="password" name="password" value=password)
    label Confirm Password:
      input(type="password" name="confirmedPassword" value=confirmedPassword)
    input(type="submit" value="Create User")
