extends layout.pug

include utils.pug

block content
  h3(class='pb-3'): em to #{attraction.attractionName} by #{user.firstName} #{user.lastName}
  +validationErrorSummary(errors)
  form(action=`/visit/edit/${visit.id}` method='post')
    include visit-form-fields.pug
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Update Visit
      a(href=`/attraction/${attraction.id}` class='btn btn-warning ml-2') Cancel
