extends layout.pug

block content
  if errors
    div
      ul
        each error in errors
          li #{error}
  h2 Add Person
  form(action="/new-person" method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    label First name:
    input(type="text" name="firstName" value=firstName required)
    label Last name:
    input(type="text" name="lastName" value=lastName required)
    label Age:
    input(type="number" name="age" value=age)
    label Biography
    textarea(name="biography" value=biography)
    label Hair color:
      select(name="hairColorId" value=hairColorId required)
        option(value= 1) Auburn
        option(value= 2) Black
        option(value= 3) Blonde
        option(value= 4) Brown
        option(value= 5) Other
        option(value= 6) Red
        option(value= 7) White
    //- label Hair color:
    //-   select(name="hairColorId" required)
    //-     each hairColor in hairColors
    //-       option(value=hairColor.id)= hairColor.color
    button(type="submit" value="Add Person")
